* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

i {
  color: var(--primary-color);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5625rem;
  margin-bottom: 0.9375rem;
  display: block;
  color: var(--heading-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #696969;
  --bg-color: #fff;
  --heading-color: #000c04;
  --border-radius: 10px;
  --border-color: #ddd;
  --border-light: #f0f3f0;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --bg-light: rgba(147, 107, 232, 0.05);
  --iframe-filter: grayscale(0%);
  --widget-bg: #3f3a64;
  --footer-color: #696969;
}

[data-theme="dark"] {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #afafaf;
  --bg-color: #151515;
  --heading-color: #ddd;
  --border-color: #333;
  --border-light: #444;
  --nav-color: #fff;
  --bg-light: #222;
  --dropdown-color: #151515;
  --footer-color: #afafaf;
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-size: 2.1875rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--heading-color);
}

h3 {
  font-size: 1.125rem;
  color: var(--secondary-color);
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p,
a,
span {
  font-size: 1.125rem;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
}

a,
a:hover,
a::before,
a::after,
li,
li::before,
li::after,
button,
button:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  font-weight: 400;
}

p,
span {
  color: var(--font-color);
}

a {
  color: var(--nav-color);
}
img {
  width: 100%;
}

/* HEADER */
.header {
  position: fixed;
  top: 2rem;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  right: 0;
  left: 0;
  padding: 0.5rem 0;
  width: 100%;
  z-index: 10;
}

.header--sticky {
  padding: 0;
  background-color: var(--bg-color);
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.header {
  background-color: var(--bg-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  transform: translateX(-50px);
}

.navbar > a {
  color: var(--primary-color);
  font-size: 2.125rem;
  font-weight: 600;
}

a.nav-link,
a.dropdown-item {
  font-size: 1.2rem;
  color: var(--heading-color);
  padding: 0 !important;
  position: relative;
  margin: 1rem;
  text-align: center;
  width: fit-content;
}

.nav-item a:hover {
  color: var(--primary-color);
}

a.nav-link::before,
a.dropdown-item::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0;
  height: 1px;
  bottom: -0.3rem;
}

a.nav-link:hover::before,
a.dropdown-item:hover::before {
  width: 100%;
}

.dropdown-menu {
  border-radius: var(--border-radius);
  background: var(--dropdown-color);
  border: 1px solid var(--border-color);
  min-width: 13rem;
  padding: 0 0.5rem;
}

.dropdown-item:hover {
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .navbar-toggler {
    display: block;
    margin-left: 3rem;
    position: absolute;
    right: 0;
    top: 1.2rem;
    line-height: initial;
    order: 1;
  }
  .navbar-toggler i {
    color: #fff;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-position {
    margin-right: 3rem;
    position: absolute;
    top: 1.6rem;
    right: 0;
  }

  .dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar button i {
    background-color: var(--primary-color);
    color: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 4px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(0);
  }

  button.navbar-toggler.collapsed .fa-bars {
    display: block;
  }

  button.navbar-toggler .fa-bars {
    display: none;
  }

  button.navbar-toggler .fa-times {
    display: block;
  }

  button.navbar-toggler.collapsed .fa-times {
    display: none;
  }
}

/* SLIDER */

.slider .owl-carousel .slider__content {
  background: url(../images/banner1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  width: 100%;
  display: block;
  position: relative;
}

.slider .owl-carousel .slider__content--2 {
  background: url(../images/banner2.jpg);
}
.slider .owl-carousel .slider__content--3 {
  background: url(../images/banner3.jpg);
}
.slider .owl-carousel .slider__content--4 {
  background: url(../images/banner4.jpg);
}
.slider__content::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.slider__detail {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
}

.slider__content--2 .slider__detail,
.slider__content--4 .slider__detail {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider__detail h1 {
  color: #fff;
  font-size: 4.125rem;
  font-weight: 700;
  line-height: 4.75rem;
  max-width: 43.75rem;
}

.slider__detail p {
  font-weight: 400;
  color: #fff;
  line-height: 1.875rem;
}

.slider__detail a {
  border: 3px solid #fff;
  color: #fff;
  padding: 0.625rem 2.1875rem;
  border-radius: var(--border-radius);
  margin: 1rem 1rem 0 0;
  font-weight: 400;
}

.slider__detail a:nth-child(3) {
  color: var(--primary-color);
  background-color: #fff;
}

.slider__detail a:nth-child(4):hover {
  color: var(--primary-color);
  background-color: #fff;
}

.slider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 1.875rem;
}

.slider .owl-theme .owl-dot span:hover,
.slider .owl-theme .owl-dot.active span {
  background-color: var(--primary-color);
  width: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .slider__detail {
    left: 40%;
  }
  .slider__detail h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }
  .slider__detail p {
    font-size: 0.9375rem;
    margin: 0 0 3rem 0;
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .slider .slider__detail {
    left: 52%;
    width: 50rem;
    margin-left: 2rem;
  }

  .slider__detail h1 {
    font-size: 3.125rem;
    line-height: 3.4375rem;
    margin: 0;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .slider .slider__detail {
    left: 65%;
    width: 50rem;
    margin-left: 2rem;
  }
  .slider__detail h1 {
    font-size: 3.125rem;
    max-width: 35rem;
  }
  .slider .owl-carousel .slider__content {
    height: 36.25rem;
  }
}

@media screen and (max-width: 576px) {
  .slider .slider__detail {
    left: 80%;
    width: 50rem;
    margin-left: 2rem;
  }
  .slider__detail h1 {
    font-size: 2.5rem;
    max-width: 25rem;
  }

  .slider .owl-carousel .slider__content {
    height: 36.25rem;
  }
}

@media screen and (max-width: 475px) {
  .slider .slider__detail {
    left: 55%;
    width: 30rem;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .slider .slider__detail {
    left: 60%;
    width: 30rem;
    margin-left: 2rem;
  }
  .slider__detail h1 {
    font-size: 2.2rem;
    max-width: 20rem;
  }
}

/* ABOUT */
.about .container {
  text-align: center;
  padding: 6rem 9rem;
}

.about .container a {
  display: inline-block;
  margin-top: 1rem;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  font-weight: 600;
}

.about .container a:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .about .container {
    padding: 4rem 2rem;
  }
}

/* FEATURES */

.features {
  background-color: var(--bg-light);
  padding: 3rem 0;
}

.features__item {
  background-color: var(--bg-color);
  margin: 1rem;
  padding: 40px 30px;
  border-radius: var(--border-radius);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.features__item i {
  color: var(--primary-color);
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}

.features__item a {
  display: inline-block;
  margin-top: 1rem;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  font-weight: 600;
}

.features__item a:hover {
  color: var(--primary-color);
}
/* SERVICES */

.services {
  padding: 6rem 0;
}
.services__left img {
  border-radius: var(--border-radius);
}

.services__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services__right ul {
  margin-top: 2rem;
}

.services__right ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}

.services__right ul li i {
  background-color: var(--bg-light);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin-right: 1rem;
}

@media screen and (max-width: 992px) {
  .services {
    padding-bottom: 2rem;
  }
  .services__right {
    margin-top: 2rem;
  }
  .services__right h1 {
    font-size: 2.1875rem;
    line-height: 2.5rem;
  }
  .services__right p {
    font-size: 1rem;
    line-height: 1.53125rem;
  }
}

@media screen and (max-width: 576px) {
  .services__right h1 {
    font-size: 2rem;
    line-height: 2.1875rem;
  }
  .services__right p {
    font-size: 1rem;
    line-height: 1.53125rem;
  }
}

/* STATS */
.stats {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem;
}

.stats__item h1 {
  font-size: 3.125rem;
  line-height: 3.75rem;
  font-weight: 600;
  color: #fff;
  margin-top: 1.875rem;
  margin-bottom: 0;
}

.stats__item p {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  text-transform: capitalize;
  color: #fff;
  margin-top: 0.625rem;
  opacity: 0.8;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .stats__item h1 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
  .stats__item p {
    font-size: 1.125rem;
    line-height: 1.53125rem;
  }
}
@media screen and (max-width: 576px) {
  .stats__item h1 {
    font-size: 2.1875rem;
    line-height: 2.375rem;
  }
  .stats__item p {
    font-size: 1.0625rem;
    line-height: 1.53125rem;
  }
}
/* PRICING */
.pricing {
  background-color: var(--bg-light);
  padding: 3rem 0;
}

.pricing .container .row {
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
}

.pricing__item {
  padding: 0;
}

.pricing__item:nth-child(2) {
  box-shadow: 0 0 10px 10px rgb(0 0 0 / 5%);
  border-radius: var(--border-radius);
}

.pricing__content {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 2rem 0 1rem 0;
}

.pricing__content__top {
  background-color: var(--primary-color);
}

.pricing__content h2 {
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  font-weight: 600;
}

.pricing__content h4 {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  border-radius: var(--border-radius);
}

.pricing__item:nth-child(2) .pricing__content,
.pricing__item:nth-child(2) {
  padding: 0;
  border-radius: var(--border-radius);
  z-index: 2;
}

.pricing__content__top {
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.pricing__content__bottom {
  padding: 1rem;
  border-radius: 0 0 10px 10px;
}

.pricing__content__top h4,
.pricing__content__top h2,
.pricing__content__top p {
  margin: 0.5rem 0;
}

.pricing__content p span {
  color: var(--font-color);
  padding: 0;
}

.pricing__content__top p span {
  color: #eee;
  padding: 0;
}

.pricing__content p span label {
  color: var(--primary-color);
  padding: 0;
  vertical-align: text-top;
  font-size: 25px;
}

.pricing__content__top p span label {
  color: #eee;
}

.pricing__content p span:first-child {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}

.pricing__content__top p span:first-child {
  color: #eee;
}

.pricing__content p span:last-child {
  margin: 0;
}

.pricing__content > a,
.pricing__content__bottom > a {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  margin: 2rem 0;
  display: inline-block;
}

.pricing__content > a:hover,
.pricing__content__bottom > a:hover {
  background-color: #116e32;
  border-color: #116e32;
}

.pricing__content ul li {
  color: var(--font-color);
}

@media screen and (max-width: 992px) {
  .pricing .container .row {
    display: flex;
    flex-direction: column;
  }
  .pricing__item {
    max-width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .pricing__item {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .pricing__item {
    max-width: 80%;
    margin: 0 auto;
  }

  .pricing .container h1 {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
/* BLOG */

.blog {
  padding: 3rem 0;
}
.blog__video {
  background: url(../images/banner2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: var(--border-radius);
  height: 30rem;
  position: relative;
}

.blog__video a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
  -o-animation: ripple 1s linear infinite;
  -moz-animation: ripple 1s linear infinite;
  -webkit-animation: ripple 1s linear infinite;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.blog__video a i:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(15 162 66 / 16%), 0 0 0 10px rgb(15 162 67 / 25%),
      0 0 0 20px rgb(15 162 67 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%),
      0 0 0 40px rgb(50 100 245 / 0%);
  }
}

@media screen and (max-width: 768px) {
  .blog__video {
    height: 20rem;
  }
}

@media screen and (max-width: 576px) {
  .blog {
    padding: 3rem 1rem;
  }
  .blog__video {
    height: 15rem;
  }

  .blog .container h1 {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}

/* FEEDBACK */

.feedback {
  background-color: var(--bg-light);
  padding: 3rem 0;
}

.feedback .container > h3,
.feedback .container > h1 {
  text-align: center;
}

.owl-feedback {
  margin-top: 3rem;
}

.feedback__item {
  margin: 0 1rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  padding: 2.5rem 1.875rem;
}

.feedback__item__detail {
  display: flex;
}

.feedback__item__detail img {
  height: 4rem !important;
  width: 4rem !important;
  border-radius: 50%;
  margin-right: 2rem;
}
.feedback__item__detail h5 {
  color: var(--heading-color);
  padding: 0;
  margin: 0;
}

.feedback .owl-theme .owl-dot span:hover,
.feedback .owl-theme .owl-dot.active span {
  background-color: var(--primary-color);
  width: 1.5rem;
}

@media screen and (max-width: 576px) {
  .feedback .container h1 {
    font-size: 2rem;
    line-height: 2.375rem;
  }
}
/* SUBSCRIBE */

.subscribe {
  padding: 3rem 0;
}

.subscribe .container p {
  width: 60%;
  margin: 1rem auto;
}

.subscribe .container form {
  margin-top: 2rem;
}

.subscribe .container form input {
  width: 40%;
  padding: 0.8rem 1.2rem;
  border-radius: var(--border-radius);
  border: 1px solid #999;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.subscribe .container form button {
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
}

.subscribe .container form button:hover {
  background-color: #116e32;
  border-color: #116e32;
}

@media screen and (max-width: 992px) {
  .subscribe .container p {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .subscribe .container p {
    width: 80%;
  }
}
/* FOOTER */
.footer__top {
  background-color: #111111;
  padding: 3rem 0;
}
.footer__top h1 {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 600;
  margin-bottom: 1.5625rem;
}

.footer__top p {
  font-size: 1rem;
  color: var(--footer-color);
  line-height: 1.75rem;
  font-weight: bold;
}

.footer__top a,
.footer__top span,
.footer__top i {
  font-size: 1rem;
  color: var(--footer-color);
  line-height: 1.75rem;
}

.footer__top i {
  margin-right: 0.5rem;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.footer__detail ul li {
  margin: 0.5rem 0;
}

.footer__top a:hover,
.footer__top a:hover i {
  color: #fff;
}

.footer__bottom {
  background-color: #111111;
  border-top: 0.2px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
}

.footer__bottom p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  color: var(--footer-color);
  line-height: 1.75rem;
}

.footer__bottom a {
  color: var(--secondary-color);
}
.footer__bottom a:hover {
  color: #b12619;
}

/* PUSHTOTOP */
body > a {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  color: #fff;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.visibleButton {
  opacity: 1;
  visibility: visible;
}

/* THEME
toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
}

.theme-switch input {
  display: none;
}

/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.mode-container {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  padding: 3px 0;
  margin-left: 20px;
  text-align: center;
}

.fa-sun {
  display: none;
}

.fa-moon {
  display: inline-block;
}

input:checked + .mode-container i.fa-sun {
  display: inline-block;
}

input:checked + .mode-container i.fa-moon {
  display: none;
}
